body {
    background-image: url("../recursos/bg-palm.jpg");
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconoGrande {
    font-size: 45px;
}

.iconoRojo {
    color: red;
}





.letraBlanca {
    color: white;
}

.contenedorFlexible {
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.links{
    display: flex;
        flex-direction: column;
        align-items: center;
}
section{
    width: 100%;
    margin-bottom: 20px;

}

/* links */
section.links .item_link{
    width:20%;
    margin-bottom:10px;
}
section.links .item_link a {
    display: block;
    width: 100%;
    border: 2px #000 solid;
    padding: 16px;
    text-align: center;
    color: black;
    border-radius: 200px;
    background-color: white;
}

a{
    text-decoration: none;
}
.icono {
    margin: 30px;
}

*{
    padding: 10;
    margin: 10;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    background-color: grey;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;

}
nav a{
    text-decoration: white;
    padding:10px; 
    width: 260px;
}
/* cambiar de color cada vez que paso por el menu*/
nav li:hover {
    background-color: black;
}
footer{
    width: 100;
    height: 200px;
    background-color: black;
    color:white;
    margin-top: 40px;
}
footer p{
    text-align: center;
    padding: 50px;
}
img{
    width: 500px;
    height: 200px;
    object-fit: cover;

}



.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    height: 200px;
    line-height: 10px;
    text-align: center;
    margin: 2px;
    object-fit: cover;
    
    /*
    float:left;
    */
}
p{
    color:black;
    font-size: 25px;
}
h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    background-color: grey;
}

/* centrado de imagen*/
.centrar_imagen{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-conteiner_ubicacion{
        /*
            border: 1px solid black;
            background-color: white;*/
            padding: 10px;
            display: flex;
            flex-direction: row;
            /*para que se acomodode */
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            object-fit: cover;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    object-fit: cover;
    justify-content: center;
}

.gallery img {
    width: 200px;
    margin: 10px;
}
.imagen_4{
    
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
}
.cosas_ventas{
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 2px;
}

.imagen_local{
            display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 2px;
}